.nav__link {
  position: fixed;
  top: 0px;
  width: 50px;
  height: 100%;
  opacity: .2;
  cursor: pointer;
  background-color: lightgray;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40px;
}

.nav__link_right {
  right: 0px;
  background-image: url('../../img/icons/arrow_forward.svg');
}

.nav__link_left {
  left: 0px;
  background-image: url('../../img/icons/arrow_back.svg');
}

.nav__link:hover {
  opacity: .35;
}

.nav__link_empty {
  display: none;
}

@media (max-width: 950px) {
  .nav__link {
    height: 58px;
    opacity: 1;
    z-index: 3;
    background-color: white;
    border-bottom: 1px solid lightgray;
  }

  .nav__link:hover {
    opacity: 1;
  }

  .nav__link_empty {
    display: block;
    cursor: default;
  }
}