.cipher-widget__letters-freq-cont {
  margin-bottom: 4px;
}

.cipher-widget__letter-freq {
  display: inline-block;
  padding: 0 4px;
}

.cipher-widget__letter-freq_locked {
  transform: none!important;
  cursor: no-drop;
}

.cipher-widget__letter-freq .cipher-widget__text {
  letter-spacing: 0px;
  margin: 0;
  padding: 0 0 5px 0;
  width: 100%;
  text-align: center;
}

.cipher-widget__pair-indicator-outer,
.cipher-widget__pair-reset {
  width: 22px;
  height: 22px;
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.cipher-widget__pair-reset {
  position: absolute;
  right: 0px;
  top: 0px;
  color: white;
  text-align: center;
}

.cipher-widget__pair-indicator-inner {
  width: 4px;
  height: 4px;
  border-radius: 4px;
  border: thin solid white;
  position: absolute;
  top: 9px;
  left: 9px;
  transition: all .5s;
}

.cipher-widget__pair-indicator-outer:hover .cipher-widget__pair-indicator-inner {
  background-color: white;
}

.cipher-widget__pair-indicator-inner_active {
  top: 0px;
  height: 100%;
  width: 1px;
  transition: all .5s;
}

.cipher-widget__pair-indicator-bar {
  stroke: #00EB5F;
  stroke-width: 2px;
}

.cipher-widget__pair-indicator-bar_plain {
  stroke: #6AE2FA;
}

.cipher-widget_monoalphabet .cipher-widget__secret-text .cipher-widget__text_plain {
  color: rgb(191, 244, 255);
}
.cipher-widget_monoalphabet .cipher-widget__secret-text
.cipher-widget__text_plain.cipher-widget__text_higlighted {
  color: #25342F;
  background-color: rgb(191, 244, 255);
  box-shadow: 0px 0px 5px rgb(191, 244, 255);
}

.cipher-widget__text_hint {
  color: white;
}

.cipher-widget__text_hint
.cipher-widget__text {
  letter-spacing: 0;
  padding: 0;
}