.cipher-widget__letters-freq-cont {
  margin-bottom: 4px;
  margin-left: 24px;
}

.cipher-widget__letter-freq {
  display: inline-block;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0);
  padding: 0 3px;
}

.cipher-widget__letter-freq_locked {
  transform: none!important;
  cursor: no-drop;
}

.cipher-widget__letter-freq_selected {
  border: 1px solid gray;
  border-radius: 3px;
}

.cipher-widget__letter-freq .cipher-widget__text {
  letter-spacing: 0px;
  margin: 0;
  padding: 0 0 5px 0;
  width: 100%;
  text-align: center;
}

.cipher-widget__pair-indics-cont {
  margin-left: 24px;
  position: relative;
}

.cipher-widget__pair-indicator-outer,
.cipher-widget__pair-reset {
  width: 22px;
  height: 22px;
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.cipher-widget__pair-reset {
  position: absolute;
  left: -22px;
  top: 0px;
  color: white;
  text-align: center;
}

.cipher-widget__pair-indicator-inner {
  width: 4px;
  height: 4px;
  border-radius: 4px;
  border: thin solid white;
  position: absolute;
  top: 9px;
  left: 9px;
  transition: all .5s;
}

.cipher-widget__pair-indicator-outer:hover .cipher-widget__pair-indicator-inner {
  background-color: white;
}

.cipher-widget__pair-indicator-inner_active {
  top: 0px;
  height: 100%;
  width: 1px;
  transition: all .5s;
}

.cipher-widget__pair-indicator-bar {
  stroke: #00EB5F;
  stroke-width: 2px;
}

.cipher-widget__pair-indicator-bar_plain {
  stroke: #6AE2FA;
}

.cipher-widget_monoalphabet .cipher-widget__secret-text .cipher-widget__text_plain {
  color: rgb(191, 244, 255);
}
.cipher-widget_monoalphabet .cipher-widget__secret-text
.cipher-widget__text_plain.cipher-widget__text_higlighted {
  color: #25342F;
  background-color: rgb(191, 244, 255);
  box-shadow: 0px 0px 5px rgb(191, 244, 255);
}

.cipher-widget__text_hint {
  color: white;
  margin-bottom: 14px;
}

.cipher-widget__text_hint
.cipher-widget__text {
  letter-spacing: 0;
  padding: 0;
}

.cipher-widget__letter-selector {
  outline: none;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #739B8E;
  border-radius: 2px;
  color: white;
  padding: 2px 5px;
  font-family: 'Ubuntu Mono', monospace;
  width: 20px;
  box-sizing: border-box;
  position: absolute;
}

.cipher-widget__letter-selector_empty {
  background-image: url('../../img/icons/baseline-search-24px.svg');
  background-repeat: no-repeat;
  background-position: top 1px left 1px;
  background-size: 16px;
}

.cipher-widget__letter-selector_bottom {
  bottom: 6px;
}

.cipher-widget__hint-button {
  cursor: pointer;
  font-family: 'Ubuntu Mono', monospace;
  font-size: .9em;
  padding: 4px;
  border: 1px solid #739B8E;
  border-radius: 2px;
  outline: none;
  background-color: rgba(0, 0, 0, 0);
  color: white;
}


.cipher-widget__hint-button:not(.cipher-widget__hint-button_inactive):hover {
  background-color: #425b53;
}

.cipher-widget__violated-conds {
  display: inline-block;
  margin-left: 16px;
}

.cipher-widget__hint-warning {
  display: inline-block;
  margin-left: 16px;
  font-size: .8em;
  color: #f94078;
}

.cipher-widget__hint-button_inactive {
  color: gray;
}