.cipher-widget {
  font-family: 'Ubuntu Mono', monospace;
  width: 900px;
  margin: 0 auto;
}

.cipher-widget-body {
  display: flex;
  align-items: baseline;
  background-color: #EAEAEA;

  padding: 10px;
}

.cipher-widget-text {
  padding: 0 5px;
  border: thin solid orange;
  height: calc(3em + 40px);
  overflow: hidden;
  letter-spacing: .4em;
}

.cipher-widget-text > .shifted-texts {
  transform: translateY(calc(-10px - 1em));
  transition: all 1s;
}

.cipher-widget-text .text {
  margin: 10px 0px;
}

.cipher-widget-text .neighbour.text {
  margin: 10px 0px;
  color:#c3c3c3;
}

.cipher-widget-key-input {
  width: 36px;
  font-family: 'Ubunto Mono', monospace;
}
