.cipher-widget {
  font-family: 'Ubuntu Mono', monospace;
  width: 800px;
  margin: 0 auto;
}

.cipher-widget__title {
  letter-spacing: .05em;
  font-weight: bold;
  color: #747474;
  font-size: 1.3em;
  text-transform: uppercase;
  margin-top: 28px;
  margin-bottom: 14px;
}

.cipher-widget__body {
  background-color: #EAEAEA;
  padding: 24px ;
  padding-top: 10px;
}

.cipher-widget__work-section,
.cipher-widget__ref-section {
  display: flex;
  align-items: baseline;
}

.cipher-widget__control-column {
  width: 120px;
}

.cipher-widget__key-column {
  width: 52px;
  box-sizing: border-box;
  text-align: right;
}

.cipher-widget__text-column {
  box-sizing: border-box;
}

.cipher-widget__label {
  margin: 0;
  font-weight: bold;
  color: #747474;
}

.cipher-widget__column_sliding {
  height: calc(3em + 40px);
  overflow: hidden;
}

.cipher-widget__text {
  padding: 0 5px;
  margin: 10px 0px;
  /* in firefox line-hieght 'normal' resulted in
     line height larger than font size (16px vs 17px) */
  line-height: 1;
  letter-spacing: .4em;
}

.cipher-widget__text-column .cipher-widget__text {
  padding-left: 10px;
}

.cipher-widget__text_is-neighbour {
  color: #747474;
}

.cipher-widger__text_is-reverse::before {
  content: '-';
}

.cipher-widget__text-column.cipher-widget__column_sliding {
  border: thin solid black;
}

.cipher-widget__key-column.cipher-widget__column_sliding {
  background-color: #C4C4C4;
  border: thin solid #C4C4C4;
}

.cipher-widget__control-column .cipher-widget__key-form {
  position: relative;
  top: calc(1em + 10px);
}

.cipher-widget__key-form .cipher-widget__label {
  margin-right: 8px;
}

.cipher-widget__key-input {
  width: 54px;
  box-sizing: border-box;
  font-family: 'Ubunto Mono', monospace;
  background-color: white;
  border: thin solid black;
  color: black;
  padding: 1px;
  border-radius: 2px;
}

.cipher-widget__key-input:focus {
  box-shadow: 0 0 2px royalblue;
}