.cipher-widget {
  font-family: 'Ubuntu Mono', monospace;
  width: 800px;
  background-color: #25342F;
  border-radius: 3px;
  transition: all .5s;
}

.cipher-widget_success {
  box-shadow: inset 0px 0px 10px #00EB5F,
              inset 0px 0px 5px #00EB5F,
              0px 0px 5px #00EB5F;
  transition: box-shadow .5s;
}

.cipher-widget__title {
  letter-spacing: .05em;
  font-weight: bold;
  color: #00EB5F;
  font-size: 1.3em;
  text-transform: uppercase;
  margin: 14px 0px;
  padding: 12px 0px 0px 24px;
}

.cipher-widget__title::before {
  content: '> ';
}

.cipher-widget__body {
  padding: 24px ;
  padding-top: 10px;
}

.cipher-widget__work-section,
.cipher-widget__ref-section {
  display: flex;
  align-items: baseline;
}

.cipher-widget__control-column {
  width: 120px;
}

.cipher-widget__key-column {
  width: 52px;
  box-sizing: border-box;
  text-align: right;
}

.cipher-widget__text-column {
  box-sizing: border-box;
}

.cipher-widget__label, .cipher-widget__subst-label,
.cipher-widget__section_title {
  margin: 0;
  font-weight: bold;
  color: white;
}

.cipher-widget__column_sliding {
  height: calc(3em + 40px);
  overflow: hidden;
}

.cipher-widget__text {
  padding: 0 5px;
  margin: 10px 0px;
  color: #00EB5F;
  /* in firefox line-hieght 'normal' resulted in
     line height larger than font size (16px vs 17px) */
  line-height: 1;
  letter-spacing: .4em;
  background-color: rgba(0, 0, 0, 0);
}

.cipher-widget__text_plain {
  color: #6AE2FA;
  text-transform: uppercase;
}

.cipher-widget__text-column .cipher-widget__text {
  padding-left: 10px;
}

.cipher-widget__text_is-neighbour {
  color: #007A31;
}

.cipher-widget__text_is-neighbour.cipher-widget__text_plain {
  color: #337380;
}

.cipher-widger__text_is-reverse::before {
  content: '-';
}

.cipher-widget__text-column.cipher-widget__column_sliding {
  border: thin solid #739B8E;
}

.cipher-widget__key-column.cipher-widget__column_sliding {
  background-color: #0A151E;
  border: thin solid #0A151E;
}

.cipher-widget__control-column .cipher-widget__key-form {
  position: relative;
  top: calc(1em + 10px);
}

.cipher-widget__key-form .cipher-widget__label {
  margin-right: 8px;
}

.cipher-widget__key-input {
  width: 54px;
  box-sizing: border-box;
  font-family: 'Ubunto Mono', monospace;
  background-color: white;
  border: thin solid black;
  color: black;
  padding: 1px;
  border-radius: 3px;
}

.cipher-widget input:focus,
.cipher-widget textarea:focus {
  outline: none;
  box-shadow: 0 0 3px #00EB5F;
}

/* sytles specific to break widget */
.cipher-widget__secret-text {
  line-height: 1.5;
  border: thin solid #739B8E;
  padding: 15px;
  letter-spacing: 0;
}

.cipher-widget__subst-table {
  margin: 10px 0px 20px 0px;
}

.cipher-widget__subst-label {
  padding: 0;
  font-size: .8em;
}

.cipher-widget__success-indicator {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 6px;
  height: 6px;
  border-radius: 3px;
}

.cipher-widget__success-indicator_is-success {
  background-color: #00EB5F;
  box-shadow: 0 0 5px #00EB5F;
  transition: all .5s;
}

.cipher-widget_monolaphabet__input .cipher-widget__text {
  width: 100%;
  box-sizing: border-box;
}