html, body {
  font-size: 16px;
  font-family: "Source Sans Pro", sans-serif;
  line-height: 1.5;
  color: #25342F;
  letter-spacing: 0.01em;

  /* background-color: #F0F7F5;*/
}

body {
  padding: 20px 0px;
}

/* always show up/down arrows on number inputs */
input[type=number]::-webkit-inner-spin-button {
  opacity: 1;
}

h1, h2, .main-text {
  max-width: 740px;
  padding-right: 20px;
  padding-left: 20px;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  color: #00EB5F;
  font-family: 'Ubuntu Mono', monospace;
  font-size: 3em;
  font-weight: bold;
  margin-bottom: 20px;
}

h1 span {
  background-color: #25342F;
  padding: 4px;
}

h1 span::before, h2::before, .command__phrase::before{
  content: '> ';
}

h2 {
  color: #00EB5F;
  font-family: 'Ubuntu Mono', monospace;
  font-size: 2em;
  font-weight: bold;
  width: 100%;
  background-color: #25342F;
  padding: 4px;
  margin-top: 50px;
}

summary {
  font-size: 1.1em;
  margin-bottom: 35px;
  line-height: 1.6;
}

summary p {
  margin: 8px 0px;
}

em {
  color: #ED2261;
  font-weight: bold;
  font-style: normal;
}

.command {
  width: 800px;
  margin: 20px auto;
  padding-top: 10px;
  padding-bottom: 30px;
}

.command__phrase {
  font-family: 'Ubuntu Mono', monospace;
  font-weight: bold;
  font-size: 1.1em;
  text-indent: -1em;
  padding-left: 1em;
}

.msg-quote {
  font-family: "Ubuntu Mono", monospace;
  letter-spacing: 0.01em;
  color: rgb(61, 73, 69);
}

.nav__right {
  position: fixed;
  top: 0px;
  right: 0px;
  width: 50px;
  height: 100%;
  opacity: .2;
  cursor: pointer;
  background-color: lightgray;
  background-image: url('./img/icons/arrow_forward.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40px;
}

.nav__right:hover {
  opacity: .35;
}